# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.sqlite3
*.log

# Virtual environment
venv/

# IDE/editorji
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment settings
.env
.ssh

# Django static in media (če jih generiraš lokalno)
staticfiles/
media/

# Django migracije, če ne želiš slediti njim med razvojem (neobvezno)
*.pyc
*.pyo
*.pyd
*.db-journal