{% extends 'base.html' %}
{% block content %}

<div class="h1">Izpolni podatke za dostavo!</div>

{% if cart %}
<div class="poll-container">

<form id="checkout-form">
  {% csrf_token %}
  <div class="form-group-floating">
  <input type="name" name="name" class="input-floating" placeholder=" " required>
    <label>Ime:*</label>
    </div>
  <div class="form-group-floating">
  <input type="surname" name="surname" class="input-floating" placeholder=" " required>
    <label>Priimek:*</label>
    </div>

<div class="form-group-floating">
  <input name="address" class="input-floating" placeholder=" " required>
  <label>Naslov:*</label>
  </div>

  <div class="form-group-floating">
  <input name="post" class="input-floating" placeholder=" " required>
  <label>Pošta:*</label>
  </div>

  <div class="form-group-floating">
  <input type="email" name="email" class="input-floating" placeholder=" " required>
    <label>Email:*</label>
    </div>

  <div class="form-group-floating">
    <input type="text" name="phone" class="input-floating" placeholder=" ">
  <label>Telefon:</label>
  </div>

  <div class="form-group-floating">
    <input type="text" name="comment" class="input-floating" placeholder=" ">
  <label>Opombe:</label>
  </div>

<div style="display: flex; margin-bottom:2rem; align-items: baseline;">
  <div class="text">Račun na podjetje</div>
  <input type="checkbox" name="company" id="company-checkbox"
       {% if request.session.company_checked %}checked{% endif %}>
</div>


<!-- Polja, ki se prikažejo, če je checkbox označen -->
  <div id="company-fields" style="display: none;">
  <div class="form-group-floating">
    <input type="text" name="company_name" class="input-floating" placeholder=" " required>
    <label>Naslov podjetja:*</label>
  </div>
  <div class="form-group-floating">
    <input type="text" name="vat_number" class="input-floating" placeholder=" " required>
    <label>Davčna številka:*</label>
  </div>

  <div class="form-group-floating">
  <input name="company_address" class="input-floating" placeholder=" " required>
  <label>Naslov:*</label>
  </div>

  <div class="form-group-floating">
  <input name="company_post" class="input-floating" placeholder=" " required>
  <label>Pošta:*</label>
  </div>
</div>
  <button type="submit">Nadaljuj na plačilo</button>
</form>
</div>
{% else %}
<p>Košarica je prazna.</p>
{% endif %}

<script>
const companyCheckbox = document.getElementById('company-checkbox');
const companyFields = document.getElementById('company-fields');

// load state
if (localStorage.getItem('companyChecked') === 'true') {
    companyCheckbox.checked = true;
    companyFields.style.display = 'block';
} else {
    companyFields.style.display = 'none';
}

// nastavi required ob loadu
companyFields.querySelectorAll('input').forEach(input => {
    input.required = companyCheckbox.checked;
});

// on change
companyCheckbox.addEventListener('change', function() {
    companyFields.style.display = this.checked ? 'block' : 'none';
    companyFields.querySelectorAll('input').forEach(input => input.required = this.checked);
    localStorage.setItem('companyChecked', this.checked);
});
// submit
document.getElementById('checkout-form').addEventListener('submit', async function(e) {
  e.preventDefault();
  const formData = new FormData(this);
  const response = await fetch("{% url 'create_payment_intent' %}", {
    method: 'POST',
    headers: {
      'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
    },
    body: formData,
  });
  const data = await response.json();
  if (data.client_secret && data.order_id) {
    window.location.href = `/stripe_pay/?client_secret=${data.client_secret}&order_id=${data.order_id}`;
  } else {
    alert(data.error || 'Napaka pri ustvarjanju plačila');
  }
});

</script>

{% endblock %}