{% extends 'base.html' %}
{% load my_tags %}
{% block content %}

<div class="h1">Izpolni podatke za dostavo!</div>

{% if cart %}
<div class="poll-container">

<form id="checkout-form">
  {% csrf_token %}
  <div class="form-group-floating">
  <input name="name" class="input-floating" value="{{ request.POST.name|default:checkout_data|get_item:'name'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
    <label style="color:black;">Ime:*</label>
    </div>
  <div class="form-group-floating">
  <input name="surname" class="input-floating" value="{{ request.POST.surname|default:checkout_data|get_item:'surname'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
    <label style="color:black;">Priimek:*</label>
    </div>

<div class="form-group-floating">
  <input name="address" class="input-floating" value="{{ request.POST.address|default:checkout_data|get_item:'address'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
  <label style="color:black;">Naslov:*</label>
  </div>

  <div class="form-group-floating">
  <input name="postal_code" class="input-floating" value="{{ request.POST.postal_code|default:checkout_data|get_item:'postal_code'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
  <label style="color:black;">Poštna številka:*</label>
  </div>

  <div class="form-group-floating">
  <input name="city" class="input-floating" value="{{ request.POST.city|default:checkout_data|get_item:'city'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
    <label style="color:black;">Mesto:*</label>
    </div>

  <div class="form-group-floating">
  <input type="email" name="email" class="input-floating" value="{{ request.POST.email|default:checkout_data|get_item:'email'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
    <label style="color:black;">Email:*</label>
    </div>

  <div class="form-group-floating">
    <input type="text" name="phone" class="input-floating" value="{{ request.POST.phone|default:checkout_data|get_item:'phone'|default:'' }}" style="background:white; color: black;" placeholder=" ">
  <label style="color:black;">Telefon:</label>
  </div>

  <div class="form-group-floating">
    <input type="text" name="comment" class="input-floating" value="{{ request.POST.comment|default:checkout_data|get_item:'comment'|default:'' }}" style="background:white; color: black;" placeholder=" ">
  <label style="color:black;">Opombe:</label>
  </div>

<div style="display: flex; margin-bottom:2rem; align-items: baseline;">
  <label class="custom-checkbox">
    Račun na podjetje
    <input type="checkbox" name="company" id="company-checkbox"
           {% if request.session.company_checked %}checked{% endif %}>
    <span class="checkmark"></span>
  </label>
</div>



<!-- Polja, ki se prikažejo, če je checkbox označen -->
  <div id="company-fields" style="display: none;">
  <div class="form-group-floating">
    <input type="text" name="company_name" class="input-floating" value="{{ request.POST.company_name|default:checkout_data|get_item:'company_name'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
    <label style="color:black;">Naslov podjetja:*</label>
  </div>
  <div class="form-group-floating">
    <input type="text" name="vat_number" class="input-floating" value="{{ request.POST.vat_number|default:checkout_data|get_item:'vat_number'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
    <label style="color:black;">Davčna številka:*</label>
  </div>

  <div class="form-group-floating">
  <input name="company_address" class="input-floating" value="{{ request.POST.company_address|default:checkout_data|get_item:'company_address'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
  <label style="color:black;">Naslov:*</label>
  </div>

  <div class="form-group-floating">
  <input name="company_postal_code" class="input-floating" value="{{ request.POST.company_postal_code|default:checkout_data|get_item:'company_postal_code'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
  <label style="color:black;">Poštna številka:*</label>
  </div>
    <div class="form-group-floating">
  <input name="company_city" class="input-floating" value="{{ request.POST.company_city|default:checkout_data|get_item:'company_city'|default:'' }}" style="background:white; color: black;" placeholder=" " required>
  <label style="color:black;">Mesto:*</label>
  </div>
</div>
  <label class="custom-checkbox">
    Prijavljam se na e-novice.
    <input type="checkbox" name="newsletter" id="newsletter-checkbox">
    <span class="checkmark"></span>
  </label>
  <button type="submit" class="vozek-button" style="max-width:100%; width: -moz-available; height:60px; font-size: 20px">Nadaljuj na plačilo</button>
</form>
</div>

{% else %}
<p>Košarica je prazna.</p>
{% endif %}

<script>
const companyCheckbox = document.getElementById('company-checkbox');
const companyFields = document.getElementById('company-fields');

// load state
if (localStorage.getItem('companyChecked') === 'true') {
    companyCheckbox.checked = true;
    companyFields.style.display = 'block';
} else {
    companyFields.style.display = 'none';
}

// nastavi required ob loadu
companyFields.querySelectorAll('input').forEach(input => {
    input.required = companyCheckbox.checked;
});

// on change
companyCheckbox.addEventListener('change', function() {
    companyFields.style.display = this.checked ? 'block' : 'none';
    companyFields.querySelectorAll('input').forEach(input => input.required = this.checked);
    localStorage.setItem('companyChecked', this.checked);
});
// submit
document.getElementById('checkout-form').addEventListener('submit', async function(e) {
  e.preventDefault();

  const formDataSession = new FormData(this);
  await fetch("{% url 'save_checkout_session' %}", {
    method: "POST",
    headers: { "X-CSRFToken": "{{ csrf_token }}" },
    body: formDataSession
  });

  const response = await fetch("{% url 'create_payment_intent' %}", {
    method: 'POST',
    headers: {
      'X-CSRFToken': formDataSession.get('csrfmiddlewaretoken'),
    },
    body: formDataSession,
  });

  const data = await response.json();

  if (data.client_secret && data.order_id) {
    window.location.href = `/stripe_pay/?client_secret=${data.client_secret}&order_id=${data.order_id}&amount=${data.amount}`;
  } else {
    alert(data.error || 'Napaka pri ustvarjanju plačila');
  }
});


</script>

{% endblock %}