{% extends 'base.html' %}

{% block content %}
<h2>Ostali Merch</h2>
<div class="product-grid">
    {% for product in products %}
        <div class="product-card">
            <a href="{% url 'product_detail' product.id %}">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
            {% endif %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }} €</p>
            </a>
        </div>

  {% empty %}
        <p>Ni izdelkov v tej kategoriji.</p>
    {% endfor %}
</div>
{% endblock %}