{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
<div class="product-grid" style="margin-top:3rem;">
<div class="product-detail" style="max-width:680px;">
    <div class="product-card">
            <p>{{ product.name }}</p>
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
            {% endif %}
    </div>

<div class="product-detail-form">
<form method="POST" action="/add-to-cart/">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="productprice_id" value="{{ productprice.id }}">
                    <select name="selected_price_id" onchange="updateDisplayedText(this)" required>
                    <option disabled {% if not selected_price_id %}selected{% endif %} hidden>Izberi ceno</option>
                    {% for p in product.productprice_set.all %}
                        {% if p.product.id == product.id %}
                            <option value="{{ p.id }}" data-original-text="{{ p.price_type.name }} {{ p.price }}€: {{ p.price_type.description }}"
                                {% if p.id|stringformat:"s" == selected_price_id|stringformat:"s" %} selected {% endif %}>
                                {{ p.price_type.name }} {{ p.price }}€: {{ p.price_type.description }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>


                <select name="selected_size_id" required>
                    <option disabled {% if not selected_size_id %}selected{% endif %} hidden>Izberi velikost</option>
                    {% for ps in product.product_sizes.all %}
                        <option value="{{ ps.size.id }}" {% if ps.size.id|stringformat:"s" == selected_size_id|stringformat:"s" %} selected {% endif %}>
                            {{ ps.size.name }} (Še {{ ps.quantity }} kosov)
                        </option>
                    {% endfor %}
                </select>

                {% if product.personalized %}
                    <div class="vozek-wrapper" style="margin-top: 1rem;">
                    <div class="form-group-floating" style="border-radius: 8px; width: 96%;">
                    <input type="text" name="personalized_text" class="input-floating" placeholder=" " style="background:white;">
                    <label style="color: black;">Napis</label>
                     </div>
                        </div>
                {% endif %}

                    <div class="vozek-wrapper">
                    <input type="submit" class="vozek-button" value="V vojzek">
                    <input type="number" name="selected_quantity" min="1" value="{{ selected_quantity|default:'1' }}" class="cart-input" required>
                    </div>
                </form>
    </div>
    <div class="product-extra-info">
    <div class="accordion-item">
        <button class="accordion-header">Opis izdelka</button>
        <div class="accordion-content">
            <p>{{ product.description|linebreaksbr }}</p>
        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-header">Sestava</button>
        <div class="accordion-content">
            <p>{{ product.composition|linebreaksbr }}</p>
        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-header">Dostava in vračila</button>
        <div class="accordion-content">
            {% if product.return_items %}
        {{ product.return_items|linebreaksbr }}
        {% else %}
            <p class="default-return">Dostava v 2–3 dneh. Možnost vračila v 14 dneh.</p>
        {% endif %}

        </div>
    </div>
</div>
    </div>


    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'store/product_detail.js' %}"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const accordions = document.querySelectorAll(".accordion-header");

        accordions.forEach(header => {
            header.addEventListener("click", function () {
                accordions.forEach(h => {
                    if (h !== this) {
                        h.classList.remove("active");
                        h.nextElementSibling.style.maxHeight = null;
                    }
                });

                this.classList.toggle("active");
                const content = this.nextElementSibling;
                if (this.classList.contains("active")) {
                    content.style.maxHeight = content.scrollHeight + "px";
                } else {
                    content.style.maxHeight = null;
                }
            });
        });
    });
    </script>
{% endblock %}
