{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
<div class="product-grid">
<div class="product-detail">
    <div class="product-card">
                <a href="{% url 'product_detail' product.id %}">
                    <h3>{{ product.name }}</h3>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
                    {% endif %}
                </a>
            </div>

<div class="product-detail-form">
<form method="POST" action="/add-to-cart/">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="productprice_id" value="{{ productprice.id }}">
                    <select name="selected_price_id" onchange="updateDisplayedText(this)" required>
                    <option disabled {% if not selected_price_id %}selected{% endif %} hidden>Izberi ceno</option>
                    {% for p in product.productprice_set.all %}
                        {% if p.product.id == product.id %}
                            <option value="{{ p.id }}" data-original-text="{{ p.price_type.name }} {{ p.price }}€: {{ p.price_type.description }}"
                                {% if p.id|stringformat:"s" == selected_price_id|stringformat:"s" %} selected {% endif %}>
                                {{ p.price_type.name }} {{ p.price }}€: {{ p.price_type.description }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>


                <select name="selected_size_id" required>
                    <option disabled {% if not selected_size_id %}selected{% endif %} hidden>Izberi velikost</option>
                    {% for ps in product.product_sizes.all %}
                        <option value="{{ ps.size.id }}" {% if ps.size.id|stringformat:"s" == selected_size_id|stringformat:"s" %} selected {% endif %}>
                            {{ ps.size.name }} (Še {{ ps.quantity }} kosov)
                        </option>
                    {% endfor %}
                </select>

                    <div style="margin-top: 1rem;">
                    <input type="number" name="selected_quantity" min="1" value="{{ selected_quantity|default:'1' }}" class="cart-input" required>
                    </div>
                <div style="margin-top: 1rem;">
                    <input type="submit" class="vozek_button" value="V vojzek">
                </div>
                </form>
    </div>
    </div>

    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'store/product_detail.js' %}"></script>
{% endblock %}