{% extends "shop/base.html" %}
{% block content %}
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
<div class="product-grid">
    <div class="product-card">
                <a href="{% url 'product_detail' product.id %}">
                    <h3>{{ product.name }}</h3>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
                    {% endif %}
                </a>
                <form method="POST" action="/add-to-cart/">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <input type="hidden" name="productprice_id" value="{{ productprice.id }}">
                    <select name="selected_price_id" onchange="updateDisplayedText(this)" required>
                        <option disabled selected hidden>Izberi ceno</option>
                            {% for p in product.productprice_set.all %}
                                {% if p.product.id == product.id %}
                        <option value="{{ p.id }}" data-original-text="{{ p.price_type.name }} {{ p.price }}€: {{ p.price_type.description }}">
                            {{ p.price_type.name }} {{ p.price }}€: {{ p.price_type.description }}</option>
                                {% endif %}
                            {% endfor %}
                    </select>

                    <select name="selected_size_id" required>
                        <option disabled selected hidden>Izberi velikost</option>
                        {% for ps in product.product_sizes.all %}
                        <option value="{{ ps.size.id }}">{{ ps.size.name }} (Še {{ ps.quantity }} kosov)</option>
                        {% endfor %}
                    </select>

                    <input type="number" name="selected_quantity" min="1" value="1" required>

                    <div>
                        <input type="submit" class="vozek_button" value="V vojzek">
                    </div>
                </form>
            </div>

</div>
{% endblock %}
{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const alerts = document.querySelectorAll(".alert");
    setTimeout(() => {
      alerts.forEach(alert => {
        alert.style.transition = "opacity 0.5s ease-out";
        alert.style.opacity = "0";
        setTimeout(() => alert.remove(), 500); // Počakaj, da se animacija zaključi, nato odstrani
      });
    }, 3000); // 3000 ms = 3 sekunde
  });
function updateDisplayedText(selectElement) {
    var selectedOption = selectElement.options[selectElement.selectedIndex];
    var text = selectedOption.getAttribute('data-original-text');
    // Tu lahko nastaviš tekst na nek element ali kamorkoli želiš
    console.log(text);
}
</script>

{% endblock %}