{% extends 'shop/base.html' %}

{% block content %}
<h2>Šentjur Merch</h2>
<div class="product-grid">
    {% if products %}
        {% for product in products %}
            <div class="product-card">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
            <h3>{{ product.name }}</h3>
            </a>
        </div>
        {% endfor %}
    {% else %}
        <p>Ni izdelkov v tej kategoriji.</p>
    {% endif %}
</div>
{% endblock %}