{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% if cart %}
<div class="cart-wrapper">
    <!-- LEVI STOLPEC - izdelki -->

    <div class="cart-left">
        <div class="cart-product" style="border:None; background:None;">
            <div class="h1" style="margin-left: 2rem;">
        VOJZEK
            </div>

    </div>
        <div class="text" style="margin-left: 6rem;">
            </div>
        {% for item in cart %}
        <div class="cart-product">
            <div class="cart-image">
            <img src="{{ item.image_url }}" alt="{{ item.product_name }}" width="200">
            </div>

                <div class="cart-details" style="line-height: 1;">
            <p style="font-size:20px;">{{ item.product_name }}</p>
            {% if item.personalized_text %}
            <p>Napis: {{ item.personalized_text }}</p>
            {% endif %}
            <p>Velikost: {{ item.size_name }}</p>
            <p>Cena na kos: {{ item.price_per_unit }}€</p>

            <form method="POST" action="{% url 'update_cart' %}" class="update-form">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ item.product_id }}">
                <input type="hidden" name="selected_price_id" value="{{ item.selected_price_id }}">
                <input type="hidden" name="selected_size_id" value="{{ item.selected_size_id }}">
                <input type="hidden" name="personalized_text" value="{{ item.personalized_text }}">
                <div class="vozek-wrapper">
                <input type="number" name="selected_quantity" value="{{ item.quantity }}" min="1" class="cart-input">
                <button class="confirm_button" style="font-size: 15px;"  type="submit">Posodobi</button>
                </div>
            </form>
        </div>


            <div class="cart-actions">

        <form method="POST" action="{% url 'remove_from_cart' %}"
              onsubmit="return confirm('Si ziher, da hočeš odstraniti najboljši izdelek?')">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ item.product_id }}">
            <input type="hidden" name="selected_price_id" value="{{ item.selected_price_id }}">
            <input type="hidden" name="selected_size_id" value="{{ item.selected_size_id }}">
            <input type="hidden" name="personalized_text" value="{{ item.personalized_text }}">
            <button class="registration_button" type="submit">X</button>
        </form>
            <span class="cart-total" style="font-size:20px;">Skupaj: {{ item.total_price }}€</span>
    </div>
        </div>
        {% endfor %}
    </div>

    <!-- DESNI STOLPEC - izračun in checkout -->
    <div class="cart-right" style="margin-top:20px; margin-bottom:20px;">
        <div class="cart-summary">
            <div style="display: flex; justify-content: center;"><p style="font-size:20px">IZDELKI</p></div>
            <div style="display: flex; justify-content: space-between;"><p style="font-size:20px">Skupaj brez DDV:</p><p style="font-size:20px">{{ total_price_no_ddv }} €</p></div>
            <div style="display: flex; justify-content: space-between;"><p style="font-size:20px">DDV:</p><p style="font-size:20px">{{ ddv }} €</p></div>
            <div style="display: flex; justify-content: space-between;"><p style="font-size:20px">Skupaj:</p><p style="font-size:20px">{{ total_price }} €</p></div>
            <hr style="margin-bottom:1rem;">
            <div style="display: flex; justify-content: center;"><p style="font-size:20px">DOSTAVA</p></div>
            <div style="display: flex; justify-content: space-between;"><p style="font-size:20px">Dostava GLS:</p><p style="font-size:20px">{{ delivery_price }} €</p></div>
            <hr style="margin-bottom:1rem;">
            <div style="display: flex; justify-content: space-between;"><p style="font-size:20px">Skupaj:</p><p style="font-size:20px">{{ total_price_with_delivery|floatformat:2 }} €</p></div>
            <a class="checkout-button" href="{% url 'checkout' %}">Nadaljuj</a>
        </div>
    </div>
</div>
{% else %}
<div class="prazn-vozek" style="color: black; margin-top: 50px;">
        <p>Vojzek je prazn.</p>
    </div>
{% endif %}



<script>
document.addEventListener("DOMContentLoaded", function () {
    const alerts = document.querySelectorAll(".alert");
    setTimeout(() => {
      alerts.forEach(alert => {
        alert.style.transition = "opacity 0.5s ease-out";
        alert.style.opacity = "0";
        setTimeout(() => alert.remove(), 500); // Počakaj, da se animacija zaključi, nato odstrani
      });
    }, 3000); // 3000 ms = 3 sekunde
  });

</script>
{% endblock %}
