{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/vars.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css2?family=My+Soul&family=Radio+Canada:wdth,wght@100..125,300..700&display=swap" rel="stylesheet">


  <title>{% block title %}Metropola{% endblock %}</title>
</head>
<body>

    <div class="header">
        {% if user.is_authenticated %}
        <div class="header-auth" style="justify-content: flex-end; display: flex; gap: 1rem;">
          <a class="prijavi_se_button prijavi_se_rectangle" href="{% url 'profile' %}">Moj profil</a>
          <a class="prijavi_se_button prijavi_se_rectangle" style="color:#C62828;" href="{% url 'logout' %}">Odjava</a>

            </div>
          {% else %}
            <div class="header-auth" style="justify-content: flex-end; display: flex; gap: 1rem;">
          <a class="prijavi_se_button prijavi_se_rectangle" style="width:65px;" href="{% url 'login' %}">Prijavi se</a>
          <a class="prijavi_se_button prijavi_se_rectangle" href="{% url 'register' %}">Registriraj se</a>
            </div>
          {% endif %}
        <div class="header-auth">
        <a href="{% url 'home' %}"><img style="height:55px" src="{% static 'sentjur-logo.png' %}" /></a>
        <a href="{% url 'home' %}"><img style="height:55px" src="{% static 'home.png' %}" /></a>
        </div>

        <div class="header-auth" style="gap: 1rem;">
            <a class="prijavi_se_button prijavi_se_rectangle" href="{% url 'vojzek' %}">
            Vojzek
            <span id="cart-counter"
          class="cart-counter"
          style="display: {% if cart_item_count > 0 %}inline-block{% else %}none{% endif %};">
        {{ cart_item_count }}
            </span>
            </a>
            </div>

        <div class="header-auth" style="margin-bottom: 40px; margin-top: 20px;">
        <a class="transparent_button" href="{% url 'home' %}">Domov</a>
        <a class="transparent_button" href="{% url 'sentjur-merch' %}">Šentjur merch</a>
        <!-- This is a comment <a class="transparent_button_smarje" href="{% url 'smarski-merch' %}">Šmarski merch</a>-->
        <a class="transparent_button" href="{% url 'kontakt' %}">Kontakt</a>
        <a class="transparent_button" href="{% url 'forum' %}">Čvek</a>

      </div>

    </div>

     <main class="block">{% block content %}{% endblock %}</main>

    <div class="footer">
      <div class="footer-auth">
          <!--<img class="x-logo" src="{% static 'x-logo0.svg' %}" />-->
         <a href="https://www.instagram.com/sentjur.merch/" target="_blank" rel="noopener noreferrer"><img class="logo-instagram" src="{% static 'logo-instagram0.svg' %}" /></a>
          <!--<img class="logo-you-tube" src="{% static 'logo-you-tube0.svg' %}" />-->
          <!--<img class="linked-in" src="{% static 'linked-in0.svg' %}" />-->
      </div>
    </div>
   {% block scripts %}
    <script src="{% static 'zajebancija/poll_logic.js' %}"></script>
    {% endblock %}
</body>
</html>


