{% extends "base.html" %}
{% load static %}

{% block content %}
{% if messages %}
  <div class="message-container">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
<div class="center-block">
    <img src="{% static '3230_header.png' %}" alt="METROPOLA">
      <h1>Serbos!</h1>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'store/product_detail.js' %}"></script>
{% endblock %}
