{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/vars.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />

  <title>{% block title %}Metropola{% endblock %}</title>
</head>


<div class="frame-1">
  <div class="cela-stran"></div>
  <img class="header" src="{% static 'header0.svg' %}"/>
  <div class="block">
    <img
      class="figma"
      style="
        background: url(figma0.png) center;
        background-size: cover;
        background-repeat: no-repeat;
      "
      src="{% static 'figma0.png' %}"
    />
  </div>
  <img class="vozek-1" src="{% static 'vozek-10.png' %}" />
  <div class="domov">Domov</div>
  <div class="entjur-merch">Šentjur merch</div>
  <div class="marje-merch">Šmarje merch</div>
  <div class="vek">Čvek</div>
  <div class="kontakt">Kontakt</div>
  <img class="mstile-150-x-150-1" src="{% static 'mstile-150-x-150-10.png' %}"/>
  <div class="rectangle-8"></div>
  <div class="prijavi-se">Prijavi se</div>
  <img class="_123-1" src="{% static '_123-10.png' %}" />
  <div class="button-white">
    <div class="rectangle-9"></div>
    <div class="registriraj-se">Registriraj se</div>
  </div>
</div>