{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Čvekaj s sebi enakimi</h2>
<div class="poll-container">
<form method="post" >
    {% csrf_token %}
    <div class="form-group-floating">
        <textarea  name="content" class="input-floating" rows="5" required></textarea>
        <label>Začni lajež</label>
    </div>
    
    Da lahko prisostvuješ laježu, moraš z uspešnim vnosom polja, dokazati, da si Šentjurčan

                    <div class="form-group-floating">
                        <input class="input-floating" type="text" name="captcha_answer" required id="id_captcha_answer_{{ comment.id }}">
                        <label>{{ form.captcha_answer.label }}</label>
                    </div>
    <button class="signin_button" type="submit">Laji</button>
</form>

{% for comment in top_level_comments %}
    <div class="poll-container">
        <hr>
        <strong>@{{ comment.created_by|default:'Anonymous' }} </strong><small style="color: #777676">{{ comment.created_at }}</small>
        <br>
        {{ comment.content }}
        <!-- Replies -->
        {% for reply in comment.replies.all %}
            <div style="margin-left: 2rem; margin-top: 10px;">
                <strong>@{{ reply.created_by|default:'Anonymous' }} </strong> <small style="color: #777676; text-align: right;">{{ reply.created_at }}</small>
                <br>
                {{ reply.content }}
            </div>
        {% endfor %}

        <!-- Reply form (optional for each comment) -->
        <a href="#" style="color: #777676;" onclick="toggleReplyForm({{ comment.id }}); return false;">Laji nazaj</a>

            <!-- Skrita reply forma -->
            <div id="reply-form-{{ comment.id }}" style="display: none; margin-top: 10px;">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="parent" value="{{ comment.id }}">

                    <div class="form-group-floating">
                        <textarea name="content" class="input-floating" rows="3" required></textarea>
                        <label>Odgovor</label>
                    </div>
                    Da lahko prisostvuješ laježu, moraš z uspešnim vnosom polja, dokazati, da si Šentjurčan
                    <div class="form-group-floating">
                        <input class="input-floating" type="text" name="captcha_answer" required id="id_captcha_answer_{{ comment.id }}">
                        <label>{{ form.captcha_answer.label }}</label>
                    </div>

                    <button class="signin_button" type="submit">Laji nazaj</button>
                </form>
        </div>
        </div>
{% empty %}
    <p>Ni še komentarjev.</p>
{% endfor %}
</div>
{% endblock %}
{% block scripts %}
<script>
    function toggleReplyForm(commentId) {
        const form = document.getElementById('reply-form-' + commentId);
        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    }
</script>
{% endblock %}
