{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="poll-container">
  <h1 class="poll-title">{{ poll.question }}</h1>

  <form method="POST">
      {% csrf_token %}

        {% for option in poll.options.all %}
          {% if option.text == "Ne" %}
            <button class="tricolor-button-sentjur"
                    type="submit"
                    name="option"
                    value="{{ option.id }}">
              {{ option.text }}
            </button>
          {% else %}
          <div id="leftarea" class="left-area"></div>
          <div id="centerarea" class="center-area">
            <button
                id="btn-da-{{ option.id }}"
                class="tricolor-button-smarje"
                type="submit"
                name="option"
                value="{{ option.id }}">
              {{ option.text }}
            </button>
          </div>
            <div id="rightarea" class="right-area"></div>
          {% endif %}
        {% endfor %}


    </form>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'zajebancija/poll_logic.js' %}"></script>
{% endblock %}

