{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="poll-container">
    <h2>Suma Sumaro</h2>
    {{reaction}}
    <ul>
      {% for option in poll.options.all %}
          {{ option.text }}: <strong>{{ option.votes }}</strong> glasov
      {% endfor %}
    </ul>
    <div class="vote-bar-container">
    <div class="vote-bar yes" style="width: {{ da_procent }}%;"></div>
    <div class="vote-bar no" style="width: {{ ne_procent }}%;"></div>
    </div>

    <h3>
      Hvala za nič!
    </h3>
  </div>
{% endblock %}
