{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="poll-container">
      <div class="form-actions">
        <h2>Prijava</h2>

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
          {% endif %}

        <form method="post">
    {% csrf_token %}
    <div class="form-group-floating">
        <input type="text" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" class="input-floating" autocomplete="username" placeholder=' ' required>
        <label for="{{ form.username.id_for_label }}">Uporabniško ime</label>
    </div>

    <div class="form-group-floating">
        <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="input-floating" autocomplete="current-password" placeholder=' ' required>
        <label for="{{ form.password.id_for_label }}">Geslo</label>
    </div>

    <button type="submit" class="prijavi_se_rectangle signin_button" style="width:160px; border-radius:26px;" >Prijavi se</button>
</form>
        <div class="form-actions-row">
        <a class="register_button prijavi_se_rectangle" href="{% url 'register' %}">Registrirajte se</a>
        <a class="forget_password_button prijavi_se_rectangle" href="{% url 'password_reset' %}">Pozabljeno geslo?</a>
        </div>
    </div>
      </div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'store/product_detail.js' %}"></script>

{% endblock %}