{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="message-container" style="max-width: 800px;">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'store/product_detail.js' %}"></script>
    <script>
  setTimeout(() => {
    window.location.href = "{% url 'home' %}";
  }, 3000);
    </script>

{% endblock %}