{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="poll-container">
        <h2>Registracija</h2>
        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
             {% for field in form %}
        <div>

            <div class="form-group-floating">
            {{ field|add_class:"input-floating" }}
            {{ field.label_tag }}
            </div>

            {% for error in field.errors %}
                <div style="color:red;">{{ error }}</div>
            {% endfor %}
        </div>
            {% endfor %}

            {% for error in form.non_field_errors %}
        <div style="color:red;">{{ error }}</div>
            {% endfor %}
            <button type="submit" class="signin_button" style="margin-bottom: 1rem;">Registriraj se</button>
        </form>
    <a href="{% url 'login' %}" class="tricolor-button-register" >Že imate račun? Prijavite se</a>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'store/product_detail.js' %}"></script>

{% endblock %}