/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --text-font-family: Roboto-Regular, sans-serif;
  --text-font-size: 12px;
  --text-line-height: 16px;
  --text-font-weight: 400;
  --text-font-style: normal;

  /* Effects */
}
/* Figma Color Variables of your File */
